      - name: Deploy via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
          server: ${{ secrets.HOST }}
          port: 22
          local_path: '.'
          remote_path: ${{ secrets.Pfad }}
          sftp_only: true
          delete_remote_files: true
          exclude: |
            .git*
            .github*
            README.md
