name: SFTP Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Upload via SFTP
        uses: sand4rt/ftp-deployer@v1.5
        with:
          host: ${{ secrets.HOST }}
          port: 22
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
          protocol: sftp
          local_path: "./"
          server_path: "/arthurssite/newfromGit"
          cleanup: false
