name: SFTP Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug repository contents before deploy
        run: |
          echo "Listing repository contents before deployment:"
          find . -maxdepth 3 -type f -print

      - name: Upload via SFTP
        uses: sand4rt/ftp-deployer@v1.5
        with:
          sftp: true
          host: ${{ secrets.HOST }}
          port: 22
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}

          local_folder: "./"
          remote_folder: "/kunden/homepages/19/d512186843/htdocs/arthurssite/fromGit"

          include: '["**/*"]'
          exclude: '[".git/**"]'
          cleanup: false
